@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-left: 500px;
    margin-right: 500px;
    height: 970px;
}

.home a {
    font-size: 35px;
    color: red;
    text-decoration: none;
}

nav {
    background-color: rgb(56, 56, 56);
    height: 75px;
}

nav ul {
    float: right;
}

nav li {
    display: inline;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.about p {
    width: 25%;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
}

.project-container {
    display: flex;
    text-align: center;
    border: solid 5px black;
    height: 300px;
    font-size: 25px;
}

.project-container a {
    color: white;
    text-decoration: underline;
    text-decoration-color: red;
}

.project-container-left {
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
    width: 50%;
    justify-content: center;
    align-items: center;
}

.project-container-left p {
    margin-left: 100px;
    margin-right: 100px;
}

.project-container-right {
    display: flex;
    flex-direction: column;
    background-color: rgb(145, 145, 145);
    width: 50%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 300px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 56);
    height: 80px;
    margin-top: 50px;
}