@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.home {
    text-align: center;
    font-size: 50px;
    margin-left: 500px;
    margin-right: 500px;
}

.home p {
    font-size: 35px;
    color: red;
}

nav {
    background-color: rgb(56, 56, 56);
    height: 75px;
}

nav ul {
    float: right;
}

nav li {
    display: inline;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.about p {
    width: 25%;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
}

.project-container {
    display: flex;
    background-color: red;
    text-align: center;
    border: solid 5px black;
    height: 200px;
    font-size: 25px;
}

.project-container-left {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.project-container-right {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 50%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 300px;
}